git+http://github.com/scidash/sciunit.git@dev#egg=sciunit
git+http://github.com/openworm/ChannelWorm@master#egg=channelworm-0.1
git+http://github.com/openworm/CElegansNeuroML@sciunit#egg=CElegansNeuroML-0.4