git+https://github.com/scidash/sciunit.git@dev#egg=sciunit-0.19.1
git+https://github.com/openworm/ChannelWorm@sciunit#egg=channelworm-0.1
git+https://github.com/openworm/CElegansNeuroML@sciunit#egg=CElegansNeuroML-0.4